<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>UserRegistrationServlate</servlet-name>
        <servlet-class>controller.UserRegistrationServlate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactServlate</servlet-name>
        <servlet-class>controller.ContactServlate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaperCategoryInsert</servlet-name>
        <servlet-class>controller.PaperCategoryInsert</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlate</servlet-name>
        <servlet-class>controller.LoginServlate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLoginServlet</servlet-name>
        <servlet-class>controller.AdminLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestionPaperAddServlate</servlet-name>
        <servlet-class>controller.QuestionPaperAddServlate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestStartServlate</servlet-name>
        <servlet-class>controller.TestStartServlate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestDataServlate</servlet-name>
        <servlet-class>controller.TestDataServlate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitExameServlet</servlet-name>
        <servlet-class>controller.SubmitExameServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserRegistrationServlate</servlet-name>
        <url-pattern>/userRegistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactServlate</servlet-name>
        <url-pattern>/contact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaperCategoryInsert</servlet-name>
        <url-pattern>/paperCat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlate</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLoginServlet</servlet-name>
        <url-pattern>/adminlogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestionPaperAddServlate</servlet-name>
        <url-pattern>/questionPaperAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestStartServlate</servlet-name>
        <url-pattern>/teststart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestDataServlate</servlet-name>
        <url-pattern>/testdata</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitExameServlet</servlet-name>
        <url-pattern>/submitExame</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
